<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>Sudoku</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"/>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.13/lodash.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/element-ui/2.10.1/theme-chalk/index.css"/>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/element-ui/2.10.1/index.js"></script>
    <style>
        .el-footer {
            text-align: center;
            color: #515a6e;
        }

        .sudoku-container {
            width: 310px;
            margin: 0 auto 10px auto;
        }

        .sudoku-cell {
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 25px;
            height: 25px;
            border: 1px solid black;
            margin-right: -1px;
            margin-bottom: -1px;
            padding: 2px;
        }

        .cell-highlight {
            width: 19px;
            height: 19px;
            border: 4px solid red;
        }

        .sudoku-cell:nth-child(3n+1) {
            margin-right: 0;
        }

        .legend {
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 31px;
            height: 31px;
            margin-right: -1px;
            margin-bottom: -1px;
            font-weight: bold;
            font-size: 20px;
        }

        .sudoku-row {
            display: flex;
        }

        .sudoku-row:nth-child(3n+1) {
            margin-bottom: 1px;
        }

        .original-number {
            background-color: #d0cece;
            font-weight: bold;
        }

        .unique-number {
            background-color: #e2efda;
        }

        .guess-number {
            background-color: #fff2cc;
        }

        .candidate {
            font-size: 10px;
            line-height: 10px;
        }

        .dead {
            background-color: red;
            color: white;
        }
    </style>
</head>
<body>

<div id="app">
    <el-container>
        <el-header>
            <h1>Sudoku</h1>
        </el-header>
        <el-main>
            <el-row>
                <el-col :sm="12" :xs="24">
                    <el-form label-width="80px">
                        <el-form-item label="题目字串:">
                            <el-input v-model="text"></el-input>
                        </el-form-item>
                        <el-form-item label="动画速度:">
                            <el-slider v-model="speed" :min="1" :max="5000" show-input>
                            </el-slider>
                        </el-form-item>
                        <el-form-item>
                            <el-button type="primary" @click="solve">开始解题</el-button>
                            <div>
                                猜测/填数: {{ this.guessCount }} / {{ this.count }}
                            </div>
                        </el-form-item>
                    </el-form>
                    <div v-if="grid!=null" class="sudoku-container">
                        <div class="sudoku-row">
                            <div class="legend">
                            </div>
                            <div v-for="n in _.range(9)" class="legend">
                                {{ n+1 }}
                            </div>
                        </div>
                        <div v-for="r in _.range(9)" class="sudoku-row">
                            <div class="legend">
                                {{ String.fromCharCode(r+65) }}
                            </div>
                            <template v-for="c in _.range(9)">
                                <div v-if="getCell(r,c).value" class="sudoku-cell" :class="[getCell(r,c).getType(),{'cell-highlight':getCell(r,c).highlight}]">
                                    {{ grid[r][c].value }}
                                </div>
                                <div v-else-if="getCell(r,c).candidates.length==0" class="sudoku-cell dead">
                                    X
                                </div>
                                <div v-else class="sudoku-cell" :class="[getCell(r,c).getType(),{'cell-highlight':getCell(r,c).highlight}]">
                                    <template v-for="n in getCell(r,c).candidates">
                                        {{ n }}
                                    </template>
                                </div>
                            </template>
                        </div>
                    </div>
                </el-col>
                <el-col :sm="12" :xs="24" style="padding: 0 10px">
                    <div style="margin-bottom: 5px">
                        <el-button-group>
                            <el-button type="primary" icon="el-icon-arrow-left" size="mini" @click="moveStep(1)">上一步</el-button>
                            <el-button type="primary" size="mini" @click="moveStep(-1)">下一步<i class="el-icon-arrow-right el-icon--right"></i></el-button>
                        </el-button-group>
                        <span v-if="step">
                            ({{step.id}}) {{ step.text }} <template v-if="step.value">=> {{ step.value }}</template>
                        </span>
                    </div>
                    <el-table ref="stepGrid" v-loading="steps.length>0 && lockSteps" element-loading-text="加载中" element-loading-spinner="none"
                              :data="steps" size="small" border highlight-current-row @current-change="showStep" height="540px"
                              style="width: 100%">
                        <el-table-column property="id" label="步骤" width="50px"></el-table-column>
                        <el-table-column property="text" label="目标格"></el-table-column>
                        <el-table-column property="value" label="填值"></el-table-column>
                    </el-table>
                </el-col>
            </el-row>
        </el-main>
        <el-footer height="40px">
            2015-2020 &copy; yesterdaysun
        </el-footer>
    </el-container>
</div>
<script type="text/javascript">
    function sleep(milliseconds) {
        return new Promise(function (resolve) {
            setTimeout(resolve, milliseconds);
        })
    }

    class Cell {
        constructor(index) {
            this.index = index;
            this.value = null;
            this.candidates = [1, 2, 3, 4, 5, 6, 7, 8, 9];
            this.type = 0;
            this.highlight = false;
        }

        getType() {
            return ["candidate", "original-number", "unique-number", "guess-number"][this.type];
        }
    }

    class Step {
        constructor(id, grid, index, value, text = null) {
            this.id = id;
            this.grid = _.cloneDeep(grid);
            this.index = index;
            this.value = value;
            this.text = "";
            if (index != null) {
                this.text = this.getText();
            }
            if (text != null) {
                if (this.text) {
                    this.text += " - ";
                }
                this.text += text;
            }
        }

        getText() {
            return `${String.fromCharCode(this.index[0] + 65)}${this.index[1] + 1}`;
        }
    }

    class BestPointFinder {
        constructor(sudoku) {
            this.sudoku = sudoku;
            this.name = "BestPointFinder";
        }

        find() {
            let bestCell = null;
            for (let cell of this.sudoku.getCells()) {
                if (cell.candidates === null) {
                    continue;
                }
                if (cell.candidates.length === 0 || cell.candidates.length === 1) {
                    return cell;
                }
                if (bestCell == null || cell.candidates.length < bestCell.candidates.length) {
                    bestCell = cell;
                }
            }
            return bestCell;
        }
    }

    class UniqueCandidateFinder {
        constructor(sudoku) {
            this.sudoku = sudoku;
            this.name = "唯一候选数法";
        }

        async solve() {
            let hasUniqueSolution = true;
            while (hasUniqueSolution) {
                hasUniqueSolution = false;
                for (let cell of this.sudoku.getCells()) {
                    if (cell.candidates == null) {
                        continue;
                    }
                    if (cell.candidates.length === 0) {
                        return false;
                    }
                    if (cell.candidates.length === 1) {
                        hasUniqueSolution = true;
                        let valid = this.sudoku.speed < 100 ?
                            this.sudoku.setValue(cell.index, cell.candidates[0], 2, this.name) :
                            await this.sudoku.setValueAnimation(cell.index, cell.candidates[0], 2, this.name);
                        if (!valid) {
                            return false;
                        }
                    }
                }
            }
            return true;
        }
    }

    const FINDERS = [
        UniqueCandidateFinder,
    ]
</script>
<script type="text/javascript">
    let sudoku = {
        text: "..53.....8......2..7..1.5..4....53...1..7...6..32...8..6.5....9..4....3......97..",
        speed: 100,
        grid: null,
        count: 0,
        guessCount: 0,
        steps: [],
        lockSteps: true,
        step: null,
        initGrid: function (text) {
            let nums = text.split("").map(n => (n === '.' || n === '0') ? 0 : parseInt(n));
            if (nums.length !== 81) {
                alert("题目错误!");
                return;
            }
            let grid = [];
            this.count = 0;
            this.guessCount = 0;
            this.steps = [];
            this.lockSteps = true;
            for (let r = 0; r < 9; r++) {
                let row = [];
                for (let c = 0; c < 9; c++) {
                    row.push(new Cell([r, c]))
                }
                grid.push(row);
            }
            this.grid = grid;
            let i = 0;
            for (let r = 0; r < 9; r++) {
                for (let c = 0; c < 9; c++) {
                    if (nums[i] !== 0) {
                        if (!this.setValue([r, c], nums[i], 1)) {
                            alert("Invalid Sudoku!");
                            throw "Invalid Sudoku!"
                        }
                    }
                    i++;
                }
            }
            this.addStep(null, null, "开局");
        },
        addStep: function (index, value, text = null) {
            this.steps.unshift(new Step(this.steps.length, this.grid, index, value, text));
        },
        setValue: function (index, value, type = 2, text) {
            this.count += 1;
            let cell = this.getCell(...index);
            cell.value = value;
            cell.candidates = null;
            cell.type = type;
            let valid = true;
            for (let region of this.getRegionsByIndex(index)) {
                let validState = this.discardCandidates(region, [value], [this.getIndexKey(index)]);
                valid = valid && validState;
            }
            if (type !== 1) {
                this.addStep(index, value, text);
            }
            return valid;
        },
        setValueAnimation: async function (index, value, type = 2, text) {
            let valid = this.setValue(index, value, type, text);
            let speed = parseInt(this.speed) || 100;
            await sleep(speed);
            return valid;
        },
        getCell: function (row, col) {
            return this.grid[row][col];
        },
        getCells: function* () {
            for (let r = 0; r < 9; r++) {
                for (let c = 0; c < 9; c++) {
                    yield this.getCell(r, c);
                }
            }
        },
        getRegions: function () {
            let result = [];
            for (let i of _.range(9)) {
                result.push(this.getRow([i, 0]));
                result.push(this.getCol([0, i]));
                let row = Math.floor(i / 3) * 3;
                let col = (i % 3) * 3;
                result.push(this.getBlock([row, col]));
            }
            return result;
        },
        getRegionsByIndex: function (index) {
            return [this.getRow(index), this.getCol(index), this.getBlock(index)];
        },
        getRow: function (index) {
            return this.grid[index[0]]
        },
        getCol: function (index) {
            return this.grid.map(row => row[index[1]]);
        },
        getBlock: function (index) {
            let [row, col] = index.map(x => Math.floor(x / 3) * 3);
            let result = [];
            for (let r = row; r < row + 3; r++) {
                for (let c = col; c < col + 3; c++) {
                    result.push(this.getCell(r, c))
                }
            }
            return result;
        },
        getIndexKey: function (index) {
            return index[0] * 9 + index[1];
        },
        discardCandidates: function (region, candidates, excludeIndexes) {
            let valid = true;
            for (let cell of region) {
                if (cell.candidates && !excludeIndexes.includes(this.getIndexKey(cell.index))) {
                    cell.candidates = _.difference(cell.candidates, candidates);
                    if (cell.candidates.length === 0) {
                        valid = false;
                    }
                }
            }
            return valid;
        },
        isRegionSolved: function (region) {
            let rest = new Set([1, 2, 3, 4, 5, 6, 7, 8, 9]);
            for (let cell of region) {
                rest.delete(cell.value);
            }
            return rest.size === 0;
        },
        isAllSet: function () {
            return _.flatten(this.grid).every(cell => cell.value);
        },
        isSolved: function () {
            return this.getRegions().map(r => this.isRegionSolved(r)).every(x => x);
        },
        toPlainText: function () {
            return _.flatten(this.grid).map(cell => cell.value === 0 ? '.' : cell.value).join("");
        }
    };


    let view = new Vue({
        el: '#app',
        data: sudoku,
        methods: {
            solveUniqueSolutions: async function () {
                if (this.isAllSet()) {
                    return true;
                }
                for (let finderCtor of FINDERS) {
                    let finder = new finderCtor(this);
                    if (!await finder.solve()) {
                        return null;
                    }
                    if (this.isAllSet()) {
                        return true;
                    }
                }
                return false;
            },
            dfs: async function () {
                let state = await this.solveUniqueSolutions();
                if (state === null) {
                    return false;
                }
                if (state) {
                    return this.isSolved();
                }
                let bestCell = new BestPointFinder(this).find();

                if (bestCell.candidates.length === 0) {
                    return false;
                }
                this.guessCount += 1;
                let oldStep = _.first(this.steps);
                for (let n of bestCell.candidates) {
                    let old = _.cloneDeep(this.grid);
                    if (!await this.setValueAnimation(bestCell.index, n, 3, "猜测回溯法")) {
                        this.grid = old;
                        this.addStep(null, null, `冲突, 退回步骤 ${oldStep.id}`);
                        continue;
                    }
                    if (await this.dfs()) {
                        return true;
                    }
                    this.grid = old;
                    this.addStep(null, null, `冲突, 退回步骤 ${oldStep.id}`);

                }
                return false;
            },
            solve: async function () {
                this.initGrid(this.text);

                if (!await this.dfs()) {
                    alert("Sudoku is wrong");
                    throw "Sudoku is wrong";
                }
                this.addStep(null, null, "结束");
                this.lockSteps = false;
                console.log(`Guess Count: ${this.guessCount}`);
                console.log(`Point Count: ${this.count}`);
                console.log(this.toPlainText());
            },
            showStep: function (step) {
                this.grid = step.grid;
                this.step = step;
                if (step.index) {
                    this.getCell(...step.index).highlight = true;
                }
            },
            moveStep: function (direction) {
                if (!this.step) {
                    this.step = _.last(this.steps);
                }
                let index = _.indexOf(this.steps, this.step);
                index += direction;
                if (index < 0 || index >= this.steps.length) {
                    index = 0;
                }
                this.step = this.steps[index];
                this.$refs.stepGrid.setCurrentRow(this.step);
            }
        }
    })
</script>
</body>
</html>